:root {
    --primary-grey: #FFD1DC;
    --secondary-grey: #357abd;
    --dark-grey: #333333;
    --text-color: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--primary-grey);
}

header {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Estilos para el botón hamburguesa/cierre */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.close-icon {
  display: none;
}

.hamburger.active .menu-icon {
  display: none;
}

.hamburger.active .close-icon {
  display: inline;
}

.logo {
    text-align: center;
    padding: 2rem 0;
}

.logo h1 {
    font-size: 2.5rem;
    color: var(--dark-grey);
    font-weight: 300;
}

.logo p {
    font-size: 1.2rem;
    color: var(--dark-grey);
}

nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #ffffff, #4a90e2, #ffffff);
  padding: 1rem 0;
}
.nav-links {
  display: flex;
  gap: 1rem;
}

/* Estilos para el botón hamburguesa/cierre */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #4a90e2;
}

.close-icon {
  display: none;
}

.hamburger.active .menu-icon {
  display: none;
}

.hamburger.active .close-icon {
  display: inline;
  color: white;
}


nav a {
    color: var(--dark-grey);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000;
}
/* From Uiverse.io by Cornerstone-04 */ 
.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

.full-width-image {
    width: 100%;
    height: 400px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    position: relative;
  }
  
 
  

  .hero {
    background-color: white;
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .hero-quote {
    font-style: italic;
    font-size: 1.5rem;
    color: var(--dark-grey);
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Hero container */
  .hero-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    height: 100vh;
    overflow: hidden;
    position: relative;
    align-items: center; /* Centrar contenido verticalmente */
  }
  
  /* Contenido del Hero */
  .hero-content {
    width: 50%; /* Ocupa la mitad del ancho en pantallas grandes */
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; /* Alineación izquierda por defecto */
    align-items: center;
    margin-bottom: 250px;
  }
  
  .hero-title {
    color: var(--dark-grey);
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  
  .hero-text {
    color: #1f2937;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    max-width: 600px;
  }
  
  /* Imagen del Hero */
  .hero-image {
    width: 50%; /* Ocupa la mitad del ancho en pantallas grandes */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
  }

.section-sobre-mi-p {
    margin-bottom: 40px;
}
.contenedor-imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

/* Individual image styles */
.sobre-mi-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 1px solid #e0e0e0; /* Fine border */
  border-radius: 12px; /* Rounded corners */
  transition: transform 0.3s ease;
}

/* Optional hover effect */
.sobre-mi-img:hover {
  transform: scale(1.02);
}






  .hashtags {
    padding: 2rem;
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }

  .hashtags-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .hashtag-card {
    background: linear-gradient(135deg, #FFD1DC, #357abd);
    color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .hashtag-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .hashtag-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    word-wrap: break-word;
  }




.content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.section {
    margin-bottom: 3rem;
}

.section h2 {
    color: var(--dark-grey);
    margin-bottom: 1rem;
}

/* Estilo general de la sección */
.services-section {
    padding: 1rem;
    text-align: center;
  }
  
  .section-title {
    margin-top: 5px;
    text-align: center;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  /* Estilo para la lista de servicios */
  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo para cada card */
  .service-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Imagen dentro de la card */
  .service-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  /* Texto de la card */
  .service-text {
    padding: 1rem;
    font-size: 1rem;
    color: #555;
  }
  

  .mapa-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
    margin-top: 2rem;
}

.mapa-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section_contact {
  background-color: #4398ec;
  padding: 1rem ;
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  padding-bottom: 8rem;
  border-radius: 2%;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
  pointer-events: none;
}

.section-title-contact {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  color: white;
  padding: 2%;
  font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
}

.section-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.contact-info p {
  margin: 1.5rem 0;
  font-size: 1.1rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.contact-info p:first-child {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-info p:not(:first-child):hover {
  transform: translateX(10px);
}

.footer {
  width: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #4a5568;
  font-family: system-ui, -apple-system, sans-serif;
}

.footer h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer a {
  color: #4a5568;
  text-decoration: none;
  margin: 8px 0;
}

.footer a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.social-icons {
  display: flex;
  gap: 16px;
  margin: 16px 0;
}

.social-icons a:hover {
  color: #1a202c;
}

.copyright {
  font-size: 0.875rem;
  color: #718096;
  margin-top: 16px;
}


.serviciosDetallados {
  padding: 4rem 2rem;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.servicios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  align-items: center;
}

.servicio-card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.servicio-card:hover {
  transform: translateY(-5px);
}

.servicio-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #4a90e2, #ffffff);
}

.servicio-card p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}


.benefits-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.benefits-text {
  flex: 1;
  padding: 3rem;
  background-color: #fdf6f6;
}

.benefits-image {
  flex: 1;
  background-image: url('./img/clariImg1.avif'); /* Aquí está la imagen como fondo */
  background-size: cover; /* Cubre todo el espacio del contenedor */
  background-position: center; /* Centra la imagen */
  border-radius: 1%;
  min-height: 300px; /* Ajusta el tamaño mínimo de la imagen */
}

.benefits-title {
  color: var(--dark-grey);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.benefits-list {
  list-style: none;
  padding: 0;
}

.benefits-list li {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  position: relative;
  font-size: 1.1rem;
  line-height: 1.5;
}

.benefits-list li:before {
  content: "►";
  color: var(--dark-grey);
  position: absolute;
  left: 0;
  font-size: 0.8rem;
}

.zoom-in {
  opacity: 0;
  animation: zoomIn 0.8s ease forwards;
}

@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale(0.95);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}


/* Media Queries */
@media (max-width: 768px) {


    header {
        padding: 1rem;
        text-align: center;
    }

  

    .hamburger {
      display: block;
      z-index: 1001;
  }

  nav.nav-links {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background: #4a90e2; /* Color sólido para móvil */
    width: 80%;
    height: 100vh;
    padding-top: 60px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    justify-content: flex-start; /* Sobreescribe justify-content: center */
}

  nav.nav-links.active {
      left: 0;
  }

  .nav-links a {
    margin: 12px 0;
    padding: 8px 20px;
    display: block;
    transition: 0.3s;
    color: white; /* Color blanco para los enlaces */
    text-decoration: none;
}

  .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semi-transparente en hover */
}
 

  /* Overlay oscuro cuando el menú está abierto */
  .nav-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
  }

  .nav-overlay.active {
      display: block;
  }

    nav {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        
    }

    nav a {
        margin: 0.5rem 0;
        color: white;
        font-weight: 100;
    }

    .sobre-mi-img {
      width: 200px;
      height: 200px;
  }
  
  .contenedor-imagenes {
      gap: 15px;
      padding: 15px;
  }

    .hero-container {
      flex-direction: column; 
      height: auto; 
    }
  
    .hero-content, .hero-image {
      width: 100%; 
      padding: 2rem;
      text-align: center; 
      margin-bottom: 0;
    }
  
    .hero-title {
      font-size: 2.5rem;
    }
  
    .hero-text {
      font-size: 1rem; 
    }
  
    .hero-image {
      padding: 1rem;
    }

    

    .hashtags-container {
      grid-template-columns: 1fr;
    }
    
    .hashtag-card {
      min-height: 100px;
    }
    
    .hashtag-text {
      font-size: 1.2rem;
    }

    .services-list {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .service-card {
        padding: 1rem;
    }

      .serviciosDetallados {
        padding: 2rem 1rem;
      }

      .benefits-container {
        flex-direction: column;
      }
    
      .benefits-text, .benefits-image {
        width: 100%; 
        padding: 2rem; 
      }
    
      .benefits-title {
        font-size: 2rem; 
      }
    
      .benefits-list li {
        font-size: 1rem; 
      }
    
  .section-title {
      font-size: 2rem;
  }

  .contact-info {
      padding: 1.5rem;
  }

  .contact-info p {
      font-size: 1rem;
  }
    .get-started-btn {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
        display: block;
        margin: 1rem auto;
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
    .logo h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 0.9rem;
        background-color: white;
    }

    .hero-title {
      font-size: 2rem;
    }
  
    .hero-text {
      font-size: 0.9rem;
      margin-bottom: 0;
    }

    .services-list {
        grid-template-columns: 1fr;
    }

    .service-card {
        font-size: 0.9rem;
        padding: 1rem;
    }

    .benefits-title {
      font-size: 1.8rem; 
    }
  
    .benefits-text {
      padding: 1.5rem; 
    }
  
    .benefits-list li {
      font-size: 0.9rem;
    }
  
    .benefits-image img {
      max-width: 90%; 
    }

}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .hero-container {
      height: auto; /* Cambia a 'auto' para que se ajuste al contenido */
      padding: 20px; /* Ajusta el padding según sea necesario */
      margin: 0 auto; /* Centra el contenedor si es necesario */
      max-width: 800px; /* Limita el ancho máximo si es necesario */
  }

  .hero-container img {
      max-width: 100%; /* Asegúrate de que la imagen no exceda el contenedor */
      height: auto; /* Mantiene la proporción de la imagen */
  }

  .hero-container h1, .hero-container p {
      margin: 10px 0; /* Ajusta los márgenes de los textos */
  }

  .hero-content {
    margin-bottom: 0;
  }
}